
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #111;
  color: white;
}
.container {
  max-width: 500px;
  margin: auto;
  padding: 30px 20px;
}
.step {
  display: none;
  flex-direction: column;
  gap: 15px;
}
.step.active {
  display: flex;
}
input, select, button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}
button {
  background-color: #00b894;
  color: white;
  cursor: pointer;
}
h2 {
  text-align: center;
}
